<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>precio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produto: ${productos}">
        <th th:text="${produto.id}"></th>
        <th th:text="${produto.name}"></th>
        <th th:text="${produto.price}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>